Repository cdek-it/react-native-ui-kit: changes, and which lefthook commands are due for each by the changed paths.
All: lint, prettier

lefthook.yml:

# Lefthook configuration for React Native Prime UI Kit
# This configuration runs code quality checks before commits and validates commit messages

pre-commit:
  parallel: true
  commands:
    # Run ESLint on staged JavaScript/TypeScript files
    lint:
      glob: '*.{js,jsx,ts,tsx}'
      run: npx eslint {staged_files}
      stage_fixed: true

    # Run Prettier on staged files
    prettier:
      glob: '*.{js,jsx,ts,tsx,json,md,yml,yaml}'
      run: npx prettier --check {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    # Validate commit message format using commitlint
    commitlint:
      run: npx commitlint --edit {1}

feat(typography): изменены стили текстовых компонентов
  README.md
  src/components/List/Base/__tests__/__snapshots__/ListBase.test.tsx.snap
  src/components/MenuItem/Template/__tests__/__snapshots__/MenuItemTemplate.test.tsx.snap
  src/components/Typography/Anchor.tsx
  src/components/Typography/Body.tsx
  src/components/Typography/Service.tsx
  src/components/Typography/__tests__/Body.test.tsx
  src/components/Typography/__tests__/__snapshots__/Anchor.test.tsx.snap
  src/components/Typography/__tests__/__snapshots__/Body.test.tsx.snap
  src/components/Typography/__tests__/__snapshots__/Service.test.tsx.snap
Due: lint, prettier

chore: release v1.0.0-beta.6
  CHANGELOG.md
  android/app/build.gradle
  ios/CDEKUI/Info.plist
  package.json
Due: prettier

fix(InputTextBase): исправлено прокидывание методов инпута в ref
  src/components/Input/InputTextBase/InputTextBase.tsx
Due: lint, prettier

chore: release v1.0.0-beta.7
  CHANGELOG.md
  android/app/build.gradle
  ios/CDEKUI/Info.plist
  package.json
Due: prettier

fix(RadioButton): исправлена верстка компонента
  src/components/RadioButton/RadioButton.tsx
  src/components/RadioButton/__tests__/__snapshots__/RadioButton.test.tsx.snap
Due: lint, prettier

chore: release v1.0.0-beta.8
  CHANGELOG.md
  android/app/build.gradle
  ios/CDEKUI/Info.plist
  package.json
Due: prettier

fix(InputOtp): реализована синхронизация состояния disabled с реальным инпутом
  src/components/Input/InputOtp/InputOtp.tsx
  src/components/Input/InputOtp/__tests__/InputOtp.test.tsx
  src/components/Input/InputOtp/__tests__/__snapshots__/InputOtp.test.tsx.snap
Due: lint, prettier

refactor(InputOtpItem): поправлена верстка, выполнен рефакторинг анимации
  src/components/Input/InputOtp/InputOtpItem.tsx
  src/components/Input/InputOtp/__tests__/__snapshots__/InputOtp.test.tsx.snap
Due: lint, prettier

chore: release v1.0.0-beta.9
  CHANGELOG.md
  android/app/build.gradle
  ios/CDEKUI/Info.plist
  package.json
Due: prettier

chore: release v1.0.0
  CHANGELOG.md
  android/app/build.gradle
  ios/CDEKUI/Info.plist
  package.json
Due: prettier

feat(tokens): migrate Button to new PrimeUIX token base
  src/components/Badge/Badge.tsx
  src/components/Badge/__tests__/__snapshots__/Badge.test.tsx.snap
  src/components/Button/__tests__/__snapshots__/Button.test.tsx.snap
  src/components/Button/__tests__/__snapshots__/ButtonBadge.test.tsx.snap
  src/components/Button/__tests__/__snapshots__/ButtonSeverity.test.tsx.snap
  src/components/Button/utils/ButtonActivityIndicator.tsx
  src/components/Button/utils/ButtonContainer.tsx
  src/components/Button/utils/ButtonIcon.tsx
  src/components/Button/utils/ButtonLabel.tsx
  src/components/Checkbox/Checkbox.tsx
  src/components/Chip/Chip.tsx
  src/components/Input/InputGroupAddon.tsx
  src/components/Input/InputOtp/InputOtpItem.tsx
  src/components/Input/InputTextBase/useInputStyles.ts
  src/components/MenuItem/Template/MenuItemTemplate.tsx
  src/components/MenuItem/Template/__tests__/__snapshots__/MenuItemTemplate.test.tsx.snap
  src/components/Message/__tests__/__snapshots__/Message.test.tsx.snap
  src/components/RadioButton/RadioButton.tsx
  src/components/SelectButton/SelectButtonItem.tsx
  src/components/SelectButton/__tests__/__snapshots__/SelectButtonItem.test.tsx.snap
  src/components/Tabs/TabItem/TabItem.tsx
  src/components/Tabs/__tests__/__snapshots__/Tabs.test.tsx.snap
  src/components/Tag/Tag.tsx
  src/components/Tag/__tests__/__snapshots__/Tag.test.tsx.snap
  src/components/ToggleButton/ToggleButton.tsx
  src/components/ToggleButton/__tests__/__snapshots__/ToggleButton.test.tsx.snap
  src/theme/assets/themeDark.json
  src/theme/assets/themeLight.json
Due: lint, prettier

feat: добавлен компонент SelectButton
  src/components/SelectButton/SelectButton.stories.ts
  src/components/SelectButton/SelectButton.stories.tsx
  src/components/SelectButton/SelectButton.tsx
  src/components/SelectButton/SelectButtonItem.tsx
  src/components/SelectButton/__tests__/SelectButton.test.tsx
  src/components/SelectButton/__tests__/SelectButtonItem.test.tsx
  src/components/SelectButton/__tests__/__snapshots__/SelectButton.test.tsx.snap
  src/components/SelectButton/__tests__/__snapshots__/SelectButtonItem.test.tsx.snap
Due: lint, prettier

chore: release v1.0.1
  CHANGELOG.md
  android/app/build.gradle
  ios/CDEKUI/Info.plist
  package.json
Due: prettier

fix(ButtonBadge): исправлено дрожание иконки в шопинге
  src/components/Button/ButtonBadge.tsx
Due: lint, prettier

test(ButtonBadge): исправлен snapshot
  src/components/Button/__tests__/__snapshots__/ButtonBadge.test.tsx.snap
Due: none

chore: release v1.0.2
  CHANGELOG.md
  android/app/build.gradle
  ios/CDEKUI/Info.plist
  package.json
Due: prettier

feat(inputswitch): migrate to resolved token base
  eslint.config.ts
  scripts/buildFromResolved.ts
  src/components/Input/InputSwitch/__tests__/__snapshots__/InputSwitch.test.tsx.snap
  src/components/Input/InputSwitch/styles/useHandleStyles.ts
  src/components/Input/InputSwitch/styles/useSliderStyles.ts
  src/theme/assets/themeDark.json
  src/theme/assets/themeLight.json
  src/theme/assets/tokens.resolved.dark.json
  src/theme/assets/tokens.resolved.light.json
Due: lint, prettier

feat(progressspinner): migrate to resolved token base
  src/components/ProgressSpinner/ProgressSpinner.tsx
  src/theme/assets/themeDark.json
  src/theme/assets/themeLight.json
Due: lint, prettier

feat(skeleton): migrate to resolved token base
  src/components/Skeleton/Skeleton.tsx
  src/components/Skeleton/__tests__/__snapshots__/Skeleton.test.tsx.snap
  src/theme/assets/themeDark.json
  src/theme/assets/themeLight.json
Due: lint, prettier

feat(progressbar): migrate to resolved token base
  src/components/ProgressBar/ProgressBar.tsx
  src/components/ProgressBar/__tests__/__snapshots__/ProgressBar.test.tsx.snap
  src/theme/assets/themeDark.json
  src/theme/assets/themeLight.json
Due: lint, prettier

feat(divider): migrate to resolved token base
  src/components/Divider/Divider.tsx
  src/components/Divider/__tests__/__snapshots__/Divider.test.tsx.snap
  src/theme/assets/themeDark.json
  src/theme/assets/themeLight.json
Due: lint, prettier

feat(avatar): migrate to resolved token base
  src/components/Avatar/Avatar.tsx
  src/components/Avatar/__tests__/__snapshots__/Avatar.test.tsx.snap
  src/theme/assets/themeDark.json
  src/theme/assets/themeLight.json
Due: lint, prettier

feat(badge): migrate to resolved token base
  src/components/Avatar/__tests__/__snapshots__/Avatar.test.tsx.snap
  src/components/Badge/Badge.tsx
  src/components/Badge/__tests__/__snapshots__/Badge.test.tsx.snap
  src/components/Button/__tests__/__snapshots__/ButtonBadge.test.tsx.snap
  src/components/MenuItem/Template/__tests__/__snapshots__/MenuItemTemplate.test.tsx.snap
  src/components/Tabs/__tests__/__snapshots__/Tabs.test.tsx.snap
  src/theme/assets/themeDark.json
  src/theme/assets/themeLight.json
Due: lint, prettier

feat(accordion): migrate to resolved token base
  src/components/Accordion/Accordion.tsx
  src/components/Accordion/__tests__/__snapshots__/Accordion.test.tsx.snap
  src/theme/assets/themeDark.json
  src/theme/assets/themeLight.json
Due: lint, prettier

feat(chip): migrate to resolved token base
  src/components/Chip/Chip.tsx
  src/components/Chip/__tests__/__snapshots__/Chip.test.tsx.snap
  src/theme/assets/themeDark.json
  src/theme/assets/themeLight.json
Due: lint, prettier

feat(tag): migrate to resolved token base
  src/components/Tag/Tag.tsx
  src/components/Tag/__tests__/__snapshots__/Tag.test.tsx.snap
  src/theme/assets/themeDark.json
  src/theme/assets/themeLight.json
Due: lint, prettier

feat(dialog): migrate to resolved token base
  src/components/Dialog/DialogComponent.tsx
  src/components/Dialog/DialogHeader.tsx
  src/components/Dialog/__tests__/__snapshots__/Dialog.test.tsx.snap
  src/components/Dialog/__tests__/__snapshots__/DialogHeader.test.tsx.snap
  src/components/Dialog/parseEdgeInsets.ts
  src/theme/assets/themeDark.json
  src/theme/assets/themeLight.json
Due: lint, prettier

feat(checkbox): migrate to resolved token base
  src/components/Checkbox/Checkbox.tsx
  src/components/Checkbox/__tests__/__snapshots__/Checkbox.test.tsx.snap
  src/theme/assets/themeDark.json
  src/theme/assets/themeLight.json
Due: lint, prettier

feat(slider): migrate to resolved token base
  src/components/Slider/Slider.tsx
  src/components/Slider/__tests__/__snapshots__/Slider.test.tsx.snap
  src/theme/assets/themeDark.json
  src/theme/assets/themeLight.json
Due: lint, prettier

feat(radiobutton): migrate to resolved token base
  src/components/RadioButton/RadioButton.tsx
  src/components/RadioButton/__tests__/__snapshots__/RadioButton.test.tsx.snap
  src/theme/assets/themeDark.json
  src/theme/assets/themeLight.json
Due: lint, prettier

feat(tabs): migrate to resolved token base
  src/components/Tabs/TabItem/TabItem.tsx
  src/components/Tabs/Tabs.tsx
  src/components/Tabs/__tests__/__snapshots__/Tabs.test.tsx.snap
  src/theme/assets/themeDark.json
  src/theme/assets/themeLight.json
Due: lint, prettier

feat(input): migrate to resolved token base
  src/components/Input/InputGroupAddon.tsx
  src/components/Input/InputOtp/InputOtpItem.tsx
  src/components/Input/InputOtp/__tests__/__snapshots__/InputOtp.test.tsx.snap
  src/components/Input/InputTextBase/InputTextBase.tsx
  src/components/Input/InputTextBase/useInputStyles.ts
  src/components/Input/__tests__/__snapshots__/InputGroupAddon.test.tsx.snap
  src/components/Input/__tests__/__snapshots__/InputTextBase.test.tsx.snap
  src/theme/assets/themeDark.json
  src/theme/assets/themeLight.json
Due: lint, prettier
