Repository cdek-it/react-native-ui-kit: changes, and which lefthook commands are due for each by the changed paths.
All: lint, prettier

lefthook.yml:

# Lefthook configuration for React Native Prime UI Kit
# This configuration runs code quality checks before commits and validates commit messages

pre-commit:
  parallel: true
  commands:
    # Run ESLint on staged JavaScript/TypeScript files
    lint:
      glob: '*.{js,jsx,ts,tsx}'
      run: npx eslint {staged_files}
      stage_fixed: true

    # Run Prettier on staged files
    prettier:
      glob: '*.{js,jsx,ts,tsx,json,md,yml,yaml}'
      run: npx prettier --check {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    # Validate commit message format using commitlint
    commitlint:
      run: npx commitlint --edit {1}

test: add test file for hook validation
  test.txt
Due: none

fix(InputTextBase): убран лишний отступ
  src/components/Input/InputTextBase/useStyles.ts
  src/components/Input/__tests__/__snapshots__/InputTextBase.test.tsx.snap
Due: lint, prettier

fix(InputTextBase): исправлено поведение плейсхолдеров при увеличенных шрифтах
  src/components/Input/InputTextBase/InputTextBase.tsx
  src/components/Input/InputTextBase/testIds.ts
  src/components/Input/InputTextBase/useStyles.ts
  src/components/Input/__tests__/__snapshots__/InputTextBase.test.tsx.snap
Due: lint, prettier

ci: добавлены проверки для PR
  .github/actions/commitlint/action.yml
  .github/actions/lint/action.yml
  .github/actions/tests/action.yml
  .github/actions/typecheck/action.yml
  .github/workflows/commitlint.yml
  .github/workflows/lint.yml
  .github/workflows/tests.yml
  .github/workflows/typecheck.yml
Due: prettier

ci: изменен релизный workflow
  .github/workflows/npm-publish.yml
Due: prettier

docs: добавлены правила внесения изменений
  CONTRIBUTING.md
  README.md
Due: prettier

chore: изменена конфигурация lefthook и сommitizen
  configs/cz-conventional-mobile/src/adapter.js
  lefthook.yml
Due: lint, prettier

chore(codeowners): добавлен файл CODEOWNERS
  .github/CODEOWNERS
Due: none

fix(InputTextBase): исправлена верстка для корректного поведения поля при длительном нажатии
  src/components/Input/InputTextBase/InputTextBase.tsx
  src/components/Input/InputTextBase/useStyles.ts
  src/components/Input/__tests__/__snapshots__/InputTextBase.test.tsx.snap
Due: lint, prettier

fix(InputTextBase): поправлена верстка для корректной работы контекстного меню
  src/components/Input/InputTextBase/InputTextBase.tsx
Due: lint, prettier

fix(InputTextBase): исправлен баг при императивной очистке поля
  src/components/Input/InputTextBase/InputTextBase.tsx
Due: lint, prettier

fix(InputTextBase): увеличена область нажатия для кнопок справа
  src/components/Input/InputTextBase/InputTextBase.tsx
  src/components/Input/InputTextBase/useStyles.ts
  src/components/Input/__tests__/__snapshots__/InputTextBase.test.tsx.snap
Due: lint, prettier

fix(InputTextBase): исправлена ошибка при императивном вызове методов инпута
  src/components/Input/InputTextBase/InputTextBase.tsx
Due: lint, prettier

ci: добавлен воркфлоу для уведомлений о новых PR
  .github/workflows/pr_notifications.yml
Due: prettier

docs: readme
  README.md
Due: prettier

Update README.md
  README.md
Due: prettier

ci: добавлены проверки при запуске релизного воркфлоу
  .github/workflows/npm-publish.yml
Due: prettier

ci: поправлен процесс релиза
  .release-it.json
  CONTRIBUTING.md
  package.json
Due: prettier

feat(skeleton): единая анимация для всех скелетонов
  src/components/Skeleton/Skeleton.tsx
  src/components/Skeleton/__tests__/Skeleton.test.tsx
  src/components/Skeleton/__tests__/__snapshots__/Skeleton.test.tsx.snap
  src/theme/ThemeContext.tsx
  src/utils/SkeletonContext.tsx
  src/utils/__tests__/SkeletonContext.test.tsx
Due: lint, prettier

ci(pr-notifications): добавлен таймаут, поправлена логика получения списка ревьюеров
  .github/workflows/pr_notifications.yml
Due: prettier

feat(input): добавлено поле ввода для одноразового кода
  src/components/Input/InputOtp/InputOtp.stories.ts
  src/components/Input/InputOtp/InputOtp.tsx
  src/components/Input/InputOtp/InputOtpItem.tsx
  src/components/Input/InputOtp/__tests__/InputOtp.test.tsx
  src/components/Input/InputOtp/__tests__/__snapshots__/InputOtp.test.tsx.snap
Due: lint, prettier

fix(input): исправление логики работы поля ввода одноразового кода
  src/components/Input/InputOtp/InputOtp.stories.ts
  src/components/Input/InputOtp/InputOtp.stories.tsx
  src/components/Input/InputOtp/InputOtp.tsx
  src/components/Input/InputOtp/__tests__/InputOtp.test.tsx
  src/components/Input/InputOtp/__tests__/__snapshots__/InputOtp.test.tsx.snap
  src/components/Input/index.ts
Due: lint, prettier

fix(input): добавлены события onFocus и onBlur в поле ввода одноразового кода
  src/components/Input/InputOtp/InputOtp.tsx
Due: lint, prettier

fix(input): добавлен проброс ref к полю ввода одноразового кода
  src/components/Input/InputOtp/InputOtp.tsx
Due: lint, prettier

fix(input): исправление отображения disabled состояния и проброс editable в пропсах
  src/components/Input/InputTextBase/InputTextBase.tsx
  src/components/Input/InputTextBase/types.ts
  src/components/Input/InputTextBase/useStyles.ts
  src/components/Input/stories/InputText.stories.tsx
Due: lint, prettier

feat(InputTextBase): добавлена возможность выбора размера инпута
  src/components/Input/InputTextBase/InputTextBase.tsx
  src/components/Input/InputTextBase/types.ts
  src/components/Input/InputTextBase/useInputStyles.ts
  src/components/Input/__tests__/InputTextBase.test.tsx
  src/components/Input/stories/InputGroup.stories.tsx
  src/components/Input/stories/InputMask.stories.tsx
  src/components/Input/stories/InputText.stories.tsx
  src/theme/assets/InputSize/base.json
  src/theme/assets/InputSize/index.ts
  src/theme/assets/InputSize/large.json
  src/theme/assets/InputSize/xlarge.json
  src/theme/darkTheme.ts
  src/theme/lightTheme.ts
  src/theme/types.ts
Due: lint, prettier

feat(theme): добавлена коллекция ModelSize
  src/theme/assets/ModalSize/index.ts
  src/theme/assets/ModalSize/lg.json
  src/theme/assets/ModalSize/md.json
  src/theme/assets/ModalSize/sm.json
  src/theme/assets/ModalSize/xl.json
  src/theme/darkTheme.ts
  src/theme/lightTheme.ts
  src/theme/types.ts
Due: lint, prettier

fix(Dialog): исправлена логика открытия диалогов
  src/components/Dialog/Dialog.tsx
  src/components/Dialog/__tests__/__snapshots__/Dialog.test.tsx.snap
Due: lint, prettier

refactor: runOnJS заменен на scheduleOnRN
  src/components/SelectButton/SelectButton.tsx
  src/components/SelectButton/SelectButtonItem.tsx
  src/components/Slider/Slider.tsx
  src/components/Timer/TimerFlip.tsx
Due: lint, prettier

chore(eslint): поправлены настройки линтера
  configs/eslint/rules/import.ts
  tsconfig.eslint.json
Due: lint, prettier

ci(npm-publish): добавлена возможность выпуска beta-версий
  .github/workflows/npm-publish.yml
Due: prettier
